<p>
  Color blindness, also known as color vision deficiency, is the decreased ability to see color or differences in color. Color
  blindness can make some educational activities difficult. Buying fruit, picking clothing, and reading traffic lights can
  be more challenging, for example. Problems, however, are generally minor and most people adapt. People with total color
  blindness, however, may also have decreased visual acuity and be uncomfortable in bright environments.
</p>
<div style="display: block;">
  <canvas baseChart style="width: 100%; height: 50vh" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend"
    [options]="options" [chartType]="polarAreaChartType"></canvas>
</div>
<h4>You have severe Red-Green Color Blindness (Protanopia).</h4>
<p>
  Red-green color blindness is split into two different types: Whereas people affected by protan color blindness are less sensitive
  to red light, deuteranopia or deuteranomly (the second type of red-green color blindness) is related to sensitiveness on
  green light.
</p>
<p>
  Protans have either defective long-wavelength cones (L-cones) or the L-cones are missing at all. If they are missing it is
  called protanopia or sometimes red-dichromacy. Affected persons are dichromats because they have only two working cone
  types, short- and medium-wavelength, compared to persons with normal vision with three different cone types.
</p>
