<p>
  Visual acuity commonly refers to the clarity of vision. Visual acuity is dependent on optical and neural factors, i.e., (i)
  the sharpness of the retinal focus within the eye, (ii) the health and functioning of the retina, and (iii) the sensitivity
  of the interpretative faculty of the brain.
</p>
<div class="title">Reading Accuracy</div>
<div style="display: block;">
  <canvas baseChart [data]="lineChartData" [options]="options" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"></canvas>
</div>
<h4>You have 20/40 vision.</h4>
<p>
  A common cause of low visual acuity is refractive error (ametropia), or errors in how the light is refracted in the eyeball.
  Causes of refractive errors include aberrations in the shape of the eyeball, the shape of the cornea, and reduced flexibility
  of the lens. Too high or too low refractive error (in relation to the length of the eyeball) is the cause of nearsightedness
  (myopia) or farsightedness (hyperopia) (normal refractive status is referred to as emmetropia). Other optical causes are
  astigmatism or more complex corneal irregularities. These anomalies can mostly be corrected by optical means (such as eyeglasses,
  contact lenses, laser surgery, etc.).
</p>
