.eye-row {
    padding: 0px 10px;
}
h3{
    padding: 15px 10px;
}

#note {
    position: fixed;
    left: 475px;
}

#vision {
    background-color: #4CAF50;
    color: rgba(255, 255, 255, 0.96);
}

#acuity {
    background-color: #FFC107;
    color: rgba(255, 255, 255, 0.96);
}

#mapping{
    background-color: #F44336;
    color: rgba(255, 255, 255, 0.96);
}

#stereopsis{
    background-color: #9C27B0;
    color: rgba(255, 255, 255, 0.96);
}