<app-nav></app-nav>
<span id="note">This is meant to be viewed in portrait only, thank you :)</span>
<div class="container">
  <h4>Summary</h4>
  <p>
    We have found that you have a severe case of Protanopia (Red-Green) color blindness. We have also calculated that you have
    approximately 40/20 vision. This could be caused by your loss of vision in the right eye. Scroll down to find out more
    information.
  </p>
</div>
<h3 id="vision">Color Vision</h3>
<div class="eye-row">
  <app-color-vision></app-color-vision>
</div>
<h3 id="acuity">Visual Acuity</h3>
<div class="eye-row">
  <app-acuity></app-acuity>
</div>
<h3 id="mapping">Visual Field Mapping</h3>
<div class="eye-row">
  <app-visual-field></app-visual-field>
</div>
<h3 id="stereopsis">Stereopsis</h3>
<div class="eye-row">
  <app-stereopsis></app-stereopsis>
</div>
