<app-nav></app-nav>

<div class="container">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
  Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue
  semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia
  nostra, per inceptos himenaeos.
</div>
<h3 id="vision">Color Vision</h3>
<div class="eye-row">
  Color blindness, also known as color vision deficiency, is the decreased ability to see color or differences in color. Color
  blindness can make some educational activities difficult. Buying fruit, picking clothing, and reading traffic lights can
  be more challenging, for example. Problems, however, are generally minor and most people adapt. People with total color
  blindness, however, may also have decreased visual acuity and be uncomfortable in bright environments.
  <app-radar></app-radar>
  <h4>You have severe Red-Green Color Blindness (Protanopia)</h4>
  <p>Red-green color blindness is split into two different types: Whereas people affected by protan color blindness are less
    sensitive to red light, deuteranopia or deuteranomly (the second type of red-green color blindness) is related to sensitiveness
    on green light.</p>
  <p>Protans have either defective long-wavelength cones (L-cones) or the L-cones are missing at all. If they are missing it
    is called protanopia or sometimes red-dichromacy. Affected persons are dichromats because they have only two working
    cone types, short- and medium-wavelength, compared to persons with normal vision with three different cone types.</p>
</div>
<h3 id="acuity">Visual Acuity</h3>
<div class="eye-row">
  Visual acuity commonly refers to the clarity of vision. Visual acuity is dependent on optical and neural factors, i.e., (i)
  the sharpness of the retinal focus within the eye, (ii) the health and functioning of the retina, and (iii) the sensitivity
  of the interpretative faculty of the brain.
  <app-acuity></app-acuity>
  A common cause of low visual acuity is refractive error (ametropia), or errors in how the light is refracted in the eyeball.
  Causes of refractive errors include aberrations in the shape of the eyeball, the shape of the cornea, and reduced flexibility
  of the lens. Too high or too low refractive error (in relation to the length of the eyeball) is the cause of nearsightedness
  (myopia) or farsightedness (hyperopia) (normal refractive status is referred to as emmetropia). Other optical causes are
  astigmatism or more complex corneal irregularities. These anomalies can mostly be corrected by optical means (such as eyeglasses,
  contact lenses, laser surgery, etc.).
</div>
<h3 id="mapping">Visual Field Mapping</h3>
<div class="eye-row">
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna
  non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse
  potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor,
  sem massa mattis sem, at interdum magna augue eget diam.
  <app-visual-field></app-visual-field>
</div>
<h3 id="stereopsis">Stereopsis</h3>
<div class="eye-row">
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna
  non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse
  potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo
  eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor,
  sem massa mattis sem, at interdum magna augue eget diam.
</div>
