<app-nav></app-nav>
<div class="container">
    <h4>Summary</h4>
  <p>We have found that you have a severe case of Protanopia (Red-Green) color blindness. We have also calculated that you have
    approximately 40/20 vision. This could be caused by your loss of vision in the right eye. Scroll down to find out more information.</p>
</div>
<h3 id="vision">Color Vision</h3>
<div class="eye-row">
  Color blindness, also known as color vision deficiency, is the decreased ability to see color or differences in color. Color
  blindness can make some educational activities difficult. Buying fruit, picking clothing, and reading traffic lights can
  be more challenging, for example. Problems, however, are generally minor and most people adapt. People with total color
  blindness, however, may also have decreased visual acuity and be uncomfortable in bright environments.
  <app-radar></app-radar>
  <h4>You have severe Red-Green Color Blindness (Protanopia)</h4>
  <p>Red-green color blindness is split into two different types: Whereas people affected by protan color blindness are less
    sensitive to red light, deuteranopia or deuteranomly (the second type of red-green color blindness) is related to sensitiveness
    on green light.</p>
  <p>Protans have either defective long-wavelength cones (L-cones) or the L-cones are missing at all. If they are missing it
    is called protanopia or sometimes red-dichromacy. Affected persons are dichromats because they have only two working
    cone types, short- and medium-wavelength, compared to persons with normal vision with three different cone types.</p>
</div>
<h3 id="acuity">Visual Acuity</h3>
<div class="eye-row">
  Visual acuity commonly refers to the clarity of vision. Visual acuity is dependent on optical and neural factors, i.e., (i)
  the sharpness of the retinal focus within the eye, (ii) the health and functioning of the retina, and (iii) the sensitivity
  of the interpretative faculty of the brain.
  <app-acuity></app-acuity>
  A common cause of low visual acuity is refractive error (ametropia), or errors in how the light is refracted in the eyeball.
  Causes of refractive errors include aberrations in the shape of the eyeball, the shape of the cornea, and reduced flexibility
  of the lens. Too high or too low refractive error (in relation to the length of the eyeball) is the cause of nearsightedness
  (myopia) or farsightedness (hyperopia) (normal refractive status is referred to as emmetropia). Other optical causes are
  astigmatism or more complex corneal irregularities. These anomalies can mostly be corrected by optical means (such as eyeglasses,
  contact lenses, laser surgery, etc.).
</div>
<h3 id="mapping">Visual Field Mapping</h3>
<div class="eye-row">
  In many locations within the brain, adjacent neurons have receptive fields that include slightly different, but overlapping
  portions of the visual field. The position of the center of these receptive fields forms an orderly sampling mosaic that
  covers a portion of the visual field. Because of this orderly arrangement, which emerges from the spatial specificity of
  connections between neurons in different parts of the visual system, cells in each structure can be seen as contributing
  to a map of the visual field (also called a retinotopic map, or a visuotopic map). Retinotopic maps are a particular case
  of topographic organization. Many brain structures that are responsive to visual input, including much of the visual cortex
  and visual nuclei of the brain stem (such as the superior colliculus) and thalamus (such as the lateral geniculate nucleus
  and the pulvinar), are organized into retinotopic maps, also called visual field maps.
  <app-visual-field></app-visual-field>
  <h4>You have approximately 40% loss of vision in the lower area of your right eye.</h4>
  The discovery of visual field maps in human can be traced to neurological cases, arising from war injuries, described and
  analyzed independently by Tatsuji Inouye (a Japanese ophthalmologist) and Gordon Holmes (a British neurologist). They observed
  correlations between the position of the entry wound and visual field loss (see Fishman, 1997 for an historical review).
</div>
<h3 id="stereopsis">Stereopsis</h3>
<div class="eye-row">
  Stereopsis is a term that is most often used to refer to the perception of depth and 3-dimensional structure obtained on
  the basis of visual information deriving from two eyes by individuals with normally developed binocular vision. Because
  the eyes of humans, and many animals, are located at different lateral positions on the head, binocular vision results
  in two slightly different images projected to the retinas of the eyes. The differences are mainly in the relative horizontal
  position of objects in the two images. These positional differences are referred to as horizontal disparities or, more
  generally, binocular disparities. Disparities are processed in the visual cortex of the brain to yield depth perception.
  While binocular disparities are naturally present when viewing a real 3-dimensional scene with two eyes, they can also
  be simulated by artificially presenting two different images separately to each eye using a method called stereoscopy.
  The perception of depth in such cases is also referred to as "stereoscopic depth".
  <app-stereopsis></app-stereopsis>
  <h4>You have a good sense of depth perception</h4>
</div>
