<p>
  In many locations within the brain, adjacent neurons have receptive fields that include slightly different, but overlapping
  portions of the visual field. The position of the center of these receptive fields forms an orderly sampling mosaic that
  covers a portion of the visual field. Because of this orderly arrangement, which emerges from the spatial specificity of
  connections between neurons in different parts of the visual system, cells in each structure can be seen as contributing
  to a map of the visual field (also called a retinotopic map, or a visuotopic map). Retinotopic maps are a particular case
  of topographic organization. Many brain structures that are responsive to visual input, including much of the visual cortex
  and visual nuclei of the brain stem (such as the superior colliculus) and thalamus (such as the lateral geniculate nucleus
  and the pulvinar), are organized into retinotopic maps, also called visual field maps.
</p>
<div style="display: block;">
  <canvas style="width: 100%; height: 50vh" [options]="options" baseChart [datasets]="radarChartData" [labels]="radarChartLabels"
    [chartType]="radarChartType"></canvas>
</div>
<h4>You have approximately 40% loss of vision in the lower area of your right eye.</h4>
<p>
  The discovery of visual field maps in human can be traced to neurological cases, arising from war injuries, described and
  analyzed independently by Tatsuji Inouye (a Japanese ophthalmologist) and Gordon Holmes (a British neurologist). They observed
  correlations between the position of the entry wound and visual field loss (see Fishman, 1997 for an historical review).
</p>
