<p>
  Stereopsis is a term that is most often used to refer to the perception of depth and 3-dimensional structure obtained on
  the basis of visual information deriving from two eyes by individuals with normally developed binocular vision. Because
  the eyes of humans, and many animals, are located at different lateral positions on the head, binocular vision results
  in two slightly different images projected to the retinas of the eyes. The differences are mainly in the relative horizontal
  position of objects in the two images. These positional differences are referred to as horizontal disparities or, more
  generally, binocular disparities. Disparities are processed in the visual cortex of the brain to yield depth perception.
  While binocular disparities are naturally present when viewing a real 3-dimensional scene with two eyes, they can also
  be simulated by artificially presenting two different images separately to each eye using a method called stereoscopy.
  The perception of depth in such cases is also referred to as "stereoscopic depth".
</p>
<div style="display: block">
  <canvas id="chartCanvas" style="width:100%; height:30vh" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [legend]="barChartLegend" [chartType]="barChartType"></canvas>
</div>
<h4>You have a good sense of depth perception.</h4>
